form {
  flex-direction: row;
}

.navbar-logo-left-container {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
}

.navbar-logo-left-container.shadow-three {
  width: 100%;
  max-width: 1140px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper {
  max-height: none;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.nav-menu-two {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-link {
  color: #f2f2f0;
  letter-spacing: .25px;
  text-transform: uppercase;
  border-bottom: 1px #f5f5f5;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-family: Vollkorn, serif;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: #f5f5f5;
  border: 1px #000;
  border-bottom: 1px solid #f5f5f5;
}

.nav-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-divider {
  width: 1px;
  height: 22px;
  background-color: #e4ebf3;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-link-accent {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-accent:hover {
  color: rgba(26, 27, 31, .75);
}

.button-primary {
  width: auto;
  height: auto;
  min-height: auto;
  min-width: auto;
  color: #fff;
  text-align: left;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.heading {
  text-align: left;
  text-transform: capitalize;
  font-family: Changa One, Impact, sans-serif;
  font-size: 50px;
  font-style: italic;
  font-weight: 700;
  line-height: 35px;
  text-decoration: none;
}

.paragraph {
  text-transform: uppercase;
  align-items: flex-start;
  font-family: Bitter, serif;
  font-style: italic;
  text-decoration: none;
  display: block;
}

.list-item {
  text-transform: uppercase;
  font-family: Vollkorn, serif;
  font-size: 20px;
}

.navbar-no-shadow {
  height: auto;
  max-height: none;
  max-width: 100%;
  opacity: 1;
  background-color: #090a0a;
  background-image: linear-gradient(#000 18%, #333 100%, #fff);
}

.navbar-no-shadow-container {
  z-index: 5;
  width: 100%;
  max-height: none;
  max-width: 90%;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.container-regular {
  width: 100%;
  max-width: 1260px;
  min-height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.nav-menu {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
  display: flex;
}

.nav-button-wrapper {
  margin-left: 120px;
}

.slogan {
  color: #f2f2f0;
  text-transform: none;
  font-size: 16px;
  font-style: italic;
  line-height: 18px;
}

.companyname {
  color: #f2f2f0;
  text-transform: uppercase;
  font-family: Inconsolata, monospace;
  font-size: 50px;
  font-style: italic;
  line-height: 40px;
}

.body {
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0);
}

.hero {
  max-width: 100%;
  background-color: #000;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.image {
  width: 100%;
  max-height: none;
  min-height: auto;
  min-width: 100%;
  opacity: .6;
  mix-blend-mode: normal;
  background-color: rgba(0, 0, 0, 0);
  border: 1px #000;
}

.grid {
  grid-template-columns: 1.25fr 1fr 1fr;
}

.grid-2 {
  grid-column-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: ".";
}

.services-image {
  height: 100%;
  max-height: none;
  opacity: .5;
  object-fit: fill;
  border: 3px #000;
}

.services-container {
  opacity: 1;
  background-color: #000;
  border: 1px #000;
  justify-content: space-around;
  align-items: stretch;
  display: flex;
}

.services-image-wrapper {
  max-width: 34%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.heading-2 {
  width: auto;
  max-width: none;
  text-align: center;
  background-image: url('../images/intermodal.jpg');
  background-position: 50%;
  background-size: cover;
}

.services-text {
  color: #f2f2f0;
  text-align: center;
  text-transform: capitalize;
  font-family: Oswald, sans-serif;
  font-size: 50px;
  font-style: italic;
  font-weight: 500;
  line-height: 100%;
  position: absolute;
}

.hero-text {
  color: #f2f2f0;
  font-family: Exo, sans-serif;
  font-size: 65px;
  font-style: italic;
  font-weight: 400;
  position: absolute;
  top: 80px;
  bottom: auto;
  left: auto;
  right: auto;
}

.hero-services-text {
  color: #f2f2f0;
  letter-spacing: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Exo, sans-serif;
  font-size: 30px;
  display: block;
  position: static;
  bottom: 20px;
}

.hero-services {
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  bottom: 10px;
}

.down-arrow {
  color: #f2f2f0;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Exo, sans-serif;
  font-size: 50px;
  text-decoration: none;
  display: block;
}

.hero-link-services {
  width: auto;
  text-align: center;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  display: flex;
  position: relative;
  bottom: auto;
}

.wrapper-careers {
  background-color: #090a0a;
  background-image: linear-gradient(#333 100%, #fff);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.careers-hero-title {
  direction: ltr;
  color: #f2f2f0;
  text-align: center;
  letter-spacing: 5px;
  text-indent: 5px;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 40px;
  padding-left: 0;
  font-family: Rock Salt, sans-serif;
  font-size: 40px;
  font-style: italic;
  font-weight: 500;
}

.careers-hero-sub-text {
  color: #f2f2f0;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 40px;
  font-family: "Baloo 2", sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
}

.form-why-wrapper {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px;
  display: flex;
}

.why-us-text {
  color: #f2f2f0;
  text-align: center;
  object-fit: fill;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Baloo 2", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.1;
}

.form-block {
  width: 50%;
  height: 100%;
  min-height: 100%;
  border: 1px #f2f2f0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}

.careers-heading {
  color: #f2f2f0;
  text-align: center;
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: auto;
  font-family: "Baloo 2", sans-serif;
  font-style: italic;
  font-weight: 400;
}

.twins {
  width: 50%;
  height: 18%;
  min-height: 50%;
  min-width: 50%;
}

.form-label {
  color: #f2f2f0;
}

.form-label.form-center {
  text-transform: uppercase;
}

.submit-button {
  width: 150px;
  color: #f2f2f0;
  text-align: center;
  text-transform: none;
  background-color: #3b4147;
  margin: 20px auto;
  padding: 10px 0;
  font-family: "Baloo 2", sans-serif;
  position: static;
}

.form {
  width: 75%;
  height: 100%;
  border: 1px solid #f2f2f0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  position: static;
}

.form.neg-5 {
  margin-bottom: -15px;
}

.form-block-wrapper {
  width: 100%;
  height: 400px;
  max-height: 500px;
  max-width: 100%;
  border: 1px #f2f2f0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  position: relative;
}

.footer-dark {
  color: #f2f2f0;
  background-color: #f5f7fa;
  background-image: linear-gradient(#333, #000 74%);
  border-bottom: 1px solid #e4ebf3;
  padding: 25px 10px 20px;
  display: block;
  position: relative;
}

.container-2 {
  width: 80%;
  max-width: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-wrapper {
  max-width: 900px;
  color: #f5f5f5;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-content {
  width: 70%;
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: auto auto 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0;
  display: flex;
  position: relative;
}

.footer-block {
  width: 400px;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}

.title-small {
  width: 100%;
  min-width: 100%;
  color: #f5f5f5;
  letter-spacing: 1px;
  text-transform: none;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Rock Salt, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 16px;
}

.footer-link {
  color: #f5f5f5;
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: rgba(26, 27, 31, .75);
}

.footer-social-block {
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
  margin-left: -12px;
  display: flex;
}

.footer-social-link {
  margin-left: 12px;
}

.footer-divider {
  width: 100%;
  height: 1px;
  background-color: #e4ebf3;
  margin-top: 70px;
  margin-bottom: 15px;
}

.footer-copyright-center {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
}

.image-2, .image-3, .social-icons {
  background-color: #f5f5f5;
}

.footer-text {
  width: 150px;
  text-align: center;
  object-fit: fill;
  font-family: "Baloo 2", sans-serif;
  font-size: .8rem;
  position: static;
}

.image-5 {
  max-height: 150px;
  max-width: 350px;
  float: none;
  clear: none;
  object-fit: cover;
  margin-left: -150px;
  margin-right: auto;
  position: relative;
  left: 0;
}

.logo {
  width: 250px;
  height: 100px;
  object-fit: cover;
  margin-left: 0;
  margin-right: 0;
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 728px;
  }

  .nav-menu-wrapper {
    background-color: rgba(0, 0, 0, 0);
    background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
    background-position: 0 0;
    background-size: auto;
  }

  .nav-menu-two {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    list-style-type: none;
    display: flex;
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-link {
    border: 1px #000;
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-link:hover {
    border-style: none;
    border-color: #000;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .button-primary {
    width: auto;
    height: auto;
    color: #333;
    cursor: pointer;
    background-color: #f2f2f0;
    border-radius: 10px;
    padding: 0 10px;
    font-family: Vollkorn, serif;
    font-size: 16px;
    font-weight: 700;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .list-item {
    text-transform: uppercase;
  }

  .nav-menu {
    background-color: #fff;
    background-image: linear-gradient(#333, #000 45%);
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
    display: flex;
  }

  .nav-button-wrapper {
    width: 100%;
    margin-left: 0;
  }

  .services-text {
    font-size: 35px;
  }

  .hero-text {
    font-size: 50px;
    top: 30px;
  }

  .hero-services-text {
    font-size: 20px;
  }

  .down-arrow {
    font-size: 30px;
  }

  .careers-hero-title {
    margin-bottom: 20px;
    font-size: 35px;
  }

  .careers-hero-sub-text {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .why-us-text {
    min-height: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 20px;
    font-size: 18px;
  }

  .form-block {
    width: auto;
    min-width: 100%;
  }

  .careers-heading {
    margin-bottom: 10px;
    padding-bottom: 0;
    font-size: 38px;
  }

  .submit-button {
    width: 100px;
    font-size: 12px;
  }

  .form {
    width: 60%;
    margin-top: 20px;
    padding-bottom: 20px;
  }

  .form-input {
    width: 75%;
    font-size: 16px;
  }

  .form-block-wrapper {
    height: 100%;
    max-height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-dark {
    background-image: linear-gradient(#333, #000 74%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .container-2 {
    max-width: 728px;
  }

  .footer-wrapper {
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
  }

  .footer-content {
    width: 100%;
    grid-column-gap: 60px;
    margin-left: auto;
  }

  .social-icons {
    min-height: 20px;
    min-width: 20px;
  }

  .image-5 {
    max-height: 150px;
    max-width: 250px;
    text-align: center;
    margin-left: auto;
    display: block;
    position: static;
    left: auto;
  }

  .select-field {
    width: 75%;
  }
}

@media screen and (max-width: 767px) {
  .navbar-logo-left-container {
    max-width: 100%;
  }

  .navbar-brand {
    padding-left: 0;
  }

  .nav-menu-two {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-divider {
    width: 200px;
    height: 1px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-link-accent {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .nav-menu {
    flex-direction: column;
    padding-bottom: 30px;
    padding-left: 0;
  }

  .hero-text {
    font-size: 40px;
    top: 20px;
  }

  .why-us-text {
    text-align: center;
    letter-spacing: 1px;
    font-size: 16px;
  }

  .careers-heading {
    font-size: 30px;
  }

  .submit-button {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .form {
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer-dark {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer-content {
    flex-direction: row;
    grid-template-columns: 1fr;
    justify-content: center;
    margin: auto;
  }

  .footer-block {
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }

  .footer-link:hover {
    color: rgba(26, 27, 31, .75);
  }

  .footer-social-block {
    margin-top: 20px;
    margin-left: -20px;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .footer-divider {
    margin-top: 60px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    max-width: none;
  }

  .nav-menu-wrapper {
    margin-right: 0;
  }

  .nav-menu-two {
    flex-direction: column;
  }

  .navbar-no-shadow-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: block;
  }

  .nav-menu {
    flex-direction: column;
  }

  .nav-button-wrapper {
    width: auto;
  }

  .image {
    height: 175px;
  }

  .services-image {
    max-width: 100%;
  }

  .services-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .services-image-wrapper {
    max-width: 100%;
  }

  .hero-text {
    font-size: 25px;
  }

  .hero-services-text {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 20px;
  }

  .down-arrow {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 20px;
  }

  .hero-link-services {
    position: absolute;
    bottom: -10px;
  }

  .why-us-text {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
  }

  .submit-button {
    margin-bottom: auto;
  }

  .form, .form-input {
    width: 100%;
  }

  .container-2 {
    max-width: none;
  }

  .footer-content {
    flex-direction: column;
  }

  .logo {
    width: 250px;
    margin-right: 10px;
  }

  .select-field {
    width: 100%;
  }

  .brand {
    padding-left: 0;
  }
}

#w-node-_43e69e08-4a7b-7cab-4a8a-c9b9379ffc6f-0f37301d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}


